$black: #000000;
$white: #ffffff;
$accent: #00ff00;

html {
    background-color: $black;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
    font-family: fot-cezanne-pron, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

.SP {
    display: none;
}

.PC {
    display: block;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.6s ease;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .PC {
        display: none;
    }

    .SP {
        display: block;
    }
}
