$black: #000000;
$white: #ffffff;
$accent: #ffe600;

html {
    background-color: $black;
}

body {
    overflow-x: hidden;
    width: 100vw;
    font-family: "Gothic Medium BBB";
}

body::-webkit-scrollbar {
    display: none;
}

.SP {
    display: none;
}

.PC {
    display: block;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.6s ease;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .PC {
        display: none;
    }

    .SP {
        display: block;
    }
}
